.cart-item {
  background: #fff;
  padding: 20px;
  display: grid;
  grid-template-columns: 80px 1fr 120px 120px 120px;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 8px;
}

.item-img {
  width: 60px;
}

.item-info {
  margin-left: 10px;
}

.item-title {
  font-size: 15px;
  font-weight: 600;
}

.item-sub {
  font-size: 12px;
  color: #777;
}

.item-price,
.item-total {
  font-weight: 600;
}

.qty-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.qty-box button {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
  background: #000;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
